.rectangle {
	background-color:royalblue;
	width:400px;
	height:300px;
	border-radius: 10%;
	transition: background-color 0.8s;
}

.hidde {
	display:none;
}

.important {
	background-color: firebrick;
}

.good {
	background-color: limegreen;
}